/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
}

#groupsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group {
    width: calc(50% - 1rem) !important; /* Afficher deux groupes par ligne */
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}


.student img {
    transition: transform 0.3s ease;
}

.student img:hover {
    transform: scale(1.1); /* Zoom léger au survol */
}

@media (max-width: 768px) {
    .group {
        width: 100%; /* Un seul groupe par ligne sur mobile */
    }
}



.grid {
    gap: 4px; /* S'assurer que les gaps entre les conteneurs sont uniformes */
}

.group {
    margin: 0; /* Supprimer les marges des conteneurs pour un alignement plus précis */
    box-sizing: border-box; /* S'assurer que toutes les dimensions des boîtes sont correctes */
}

.group:first-child {
    margin-left: 0; /* Supprimer tout éventuel décalage du premier conteneur */
}


